body {
  margin: 0;
  font: 16px/1.4 Roboto, sans-serif;
  color: #333;
}
.container {
  min-width: 768px;
}
header,
.header {
  display: flex;
  background: #3F51B5;
  color: #FFF;
  padding: 10px 30px;
  alignItems: center;
}
.header {
  padding: 10px 15px;
}
header a.btn,
.header a.btn {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}
header .body,
.header .body {
  flex: 1;
}
main {
  display: flex;
  padding: 30px;
}
.list {
  flex: 2;
}
.list ul {
  padding-left: 0;
  list-style: none;
}
.list a {
  display: flex;
  alignItems: center;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #EEE;
}
.list a.selected {
  background: #EEE;
}
.list a span {
  flex: 1;
}
.list a i {
  color: #999;
}

.detail {
  flex: 1;
  margin-left: 30px;
  border: 1px solid #EEE;
}
form .form-group {
  display: flex;
  border-bottom: 1px solid #EEE;
  padding: 10px 15px;
}
form .form-group label {
  display: inline-block;
  width: 100px;
}
form .form-group input {
  flex: 1;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0;
}
form .action {
  padding: 15px;
}
form .btn  {
  display: block;
  box-sizing: border-box;
  font-size: 14px;
  color: #FFF;
  background: #3F51B5;
  border: none;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

